<div class="card my-5">
  <div class="card-body">
    <h2>{{ isEdit() ? 'Vorlage bearbeiten' : 'Neue Vorlage erstellen' }}</h2>
    <form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="z.B. Arbeitsweg">
        @if (templateForm.controls.name.hasError('required')) {
          <mat-error>
            Name ist erforderlich
          </mat-error>
        }
      </mat-form-field>

      <div class="row">
        <mat-form-field appearance="fill" class="half-width">
          <mat-label>Von</mat-label>
          <input matInput formControlName="fromLocation" placeholder="Startort">
        </mat-form-field>

        <mat-form-field appearance="fill" class="half-width">
          <mat-label>Nach</mat-label>
          <input matInput formControlName="toLocation" placeholder="Zielort">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill" class="half-width">
          <mat-label>Länge (km)</mat-label>
          <input matInput type="number" formControlName="driveLength">
        </mat-form-field>

        <mat-form-field appearance="fill" class="half-width">
          <mat-label>Grund</mat-label>
          <mat-select formControlName="reason" [panelClass]="'tall-combobox-panel'">
            @for (reason of reasons; track reason) {
              <mat-option [value]="reason">{{ ReasonHelper.toString(reason) }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="!templateForm.valid">
          Speichern
        </button>
        <button mat-button type="button" routerLink="/driveTemplates">
          Abbrechen
        </button>
      </div>
    </form>
  </div>
</div>
