HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.DS_Store
/drives.tar
src/main/resources/public/browser
/runLocal.sh
**/.DS_Store
/.output.txt
/docker-compose/data/ocr-debug/7829298e-635f-49dc-9994-82fc7468e2a4/01-original.png
/docker-compose/data/ocr-debug/7829298e-635f-49dc-9994-82fc7468e2a4/02-prepared.png
/docker-compose/data/ocr-debug/7829298e-635f-49dc-9994-82fc7468e2a4/03-relaxed.png
/docker-compose/data/ocr-debug/7829298e-635f-49dc-9994-82fc7468e2a4/04-cli-like.png
/docker-compose/data/ocr-debug/7829298e-635f-49dc-9994-82fc7468e2a4/ocr-cli-like.txt
/docker-compose/data/ocr-debug/7829298e-635f-49dc-9994-82fc7468e2a4/ocr-fallback.txt
/docker-compose/data/ocr-debug/7829298e-635f-49dc-9994-82fc7468e2a4/ocr-primary.txt
/docker-compose/data/ocr-debug/ee877206-7990-4502-8595-2a56d1f0bd5d/01-original.png
/docker-compose/data/ocr-debug/ee877206-7990-4502-8595-2a56d1f0bd5d/02-prepared.png
/docker-compose/data/ocr-debug/ee877206-7990-4502-8595-2a56d1f0bd5d/03-relaxed.png
/docker-compose/data/ocr-debug/ee877206-7990-4502-8595-2a56d1f0bd5d/ocr-fallback.txt
/docker-compose/data/ocr-debug/ee877206-7990-4502-8595-2a56d1f0bd5d/ocr-primary.txt
/docker-compose/data/drives.mv.db
/docker-compose/data/drives_aswkph_gmail_com.mv.db
/docker-compose/data/drives_aswkph_gmail_com.trace.db
/docker-compose/.env
/docker-compose/docker-compose.yaml
/docker-compose/run.sh
