<div class="card my-5">
  <div class="card-body">
    <h2>{{ isEdit ? 'Fahrt bearbeiten' : 'Neue Fahrt erfassen' }}</h2>
    <form [formGroup]="driveForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Datum</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>DD.MM.YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (driveForm.get('date')?.hasError('required')) {
          <mat-error>Datum ist erforderlich</mat-error>
        }
      </mat-form-field>

      <div class="row">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Vorlage</mat-label>
          <mat-select formControlName="template" [compareWith]="compareTemplates">
            <mat-select-trigger>
              {{ getTemplateLabel(driveForm.get('template')?.value) }}
            </mat-select-trigger>
            @for (template of templates$ | async; track template.id) {
              <mat-option [value]="template" [matTooltip]="getTemplateTooltip(template)" matTooltipClass="multi-line-tooltip">
                @if (isMobile) {
                  {{ template.name }}
                } @else {
                  {{ getTemplateLabel(template) }}
                }
              </mat-option>
            }
          </mat-select>
          @if (driveForm.get('template')?.hasError('required')) {
            <mat-error>Vorlage ist erforderlich</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Grund (Optional)</mat-label>
          <mat-select formControlName="reason">
            <mat-option [value]="null"><i>Aus Vorlage übernehmen</i></mat-option>
            @for (reason of reasons; track reason) {
              <mat-option [value]="reason">{{ Reason.toString(reason) }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="!driveForm.valid">
          Speichern
        </button>
        <button mat-button type="button" routerLink="/drives">
          Abbrechen
        </button>
      </div>
    </form>

    <div *ngIf="latestDriveDate" class="latest-entry-info mt-4">
      Letzter Eintrag vom: {{ latestDriveDate | date:'dd.MM.yyyy' }}
    </div>
  </div>
</div>
