.full-width {
  width: 100%;
}

.row {
  display: flex;
  gap: 16px;
  width: 100%;
}

.actions {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

h2 {
  margin-top: 0;
}

.latest-entry-info {
  color: #666;
  font-size: 0.9em;
  font-style: italic;
  padding-top: 16px;
}

.version-info {
  color: #666;
  font-size: 0.9em;
  font-style: italic;
  padding-top: 4px;
}

::ng-deep .multi-line-tooltip {
  white-space: pre-line !important;
}
