.sidenav-container {
  height: calc(100vh - 64px);
}

.content {
  padding: 20px;
}

mat-sidenav {
  width: 250px;
}

mat-toolbar {
  display: flex;
  gap: 8px;
}

.header-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.subtitle {
  font-size: 12px;
  opacity: 0.9;
}
